.disc {
  position: absolute;
  background-color: black;
  border: 1px solid red;
  border-radius: 20px;
}
.disc.moveable {
  cursor: pointer;
}
.disc.moveable:hover {
  opacity: 0.5;
}
.peg-container {
  width: 200px;
  display: inline-block;
  margin-right: 20px;
}
.peg-over {
  background-color: red;
  opacity: 0.25;
}
.peg-label {
  font-size: 35px;
  text-align: center;
  border-top: 10px solid #000;
}
.peg-destination .peg-label {
  border-color: green;
}
.peg {
  position: relative;
  width: 200px;
}
